.audience {
    width: 100%;
}

.audience__image {
    width: 50%;
    background:url('../../images/cup.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.audience__content {
    width: 50%;
    padding: 158px 110px;
}

@media only screen and (max-width: 992px) {
    .audience {
        flex-direction: column;

    }
    
    .audience__image {
        width: 100%;
        height: 312px;
    }
    
    .audience__content {
        width: 100%;
        padding: 64px 24px;
        text-align: center;
    }
}