.background {
    width: 100%;
}

.bottle {
    background: url("../../images/image-gallery-milkbottles.jpg");
}

.limon {
    background: url('../../images/image-gallery-orange.jpg');
}

.ice-cream {
    background: url('../../images/image-gallery-cone.jpg');
}

.sweet {
    background: url('../../images/image-gallery-sugarcubes.jpg');
}

.background__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 447px;
}


@media only screen and (max-width:992px) {
    .background {
        flex-wrap: wrap;
    }

    .background__image {
        height: 188px;
    }

    .bottle, .limon {
        width: 50%;
    }
    
    .ice-cream, .sweet {
        width: 50%;
    }   
}