.design {
    width: 100%;
}

.design__graphic {
    background: url('../../images/image-graphic-design.jpg');
}

.design__photo {
    background: url('../../images/image-photography.jpg');
}

.design__background {
    width: 50%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 190px;
    flex-direction: column;
    justify-content: end;
    align-items: center;    
}



@media only screen and (max-width: 992px) {
    .design {
        flex-direction: column;
    }

    .design__background {
        width: 100%;
        padding: 0 24px;
    }
}